osx_image: xcode9
language: objective-c
podfile: Example/Podfile
before_install:
    - gem install cocoapods
    - pod repo update
    - pod install --project-directory=Example/
script: xcodebuild -workspace Example/ElValidator.xcworkspace -scheme ElValidator-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
